/* .team {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  z-index: 1;
  margin-left: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .teamCard {
  margin: 5px;
} */

/* #leftPanelTopInfoDiv {
  height: 8vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* #teamInfoDiv {
  height: 84vh;
  overflow-y: auto;
  width: 95%;
} */

/* #leftPanelBottomButtonDiv {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* h2 {
  margin: 0;
} */

#root {
  display: flex;
}

/* #setupPage {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 20vw;
  background-color: rgb(85, 85, 85);
} */

/* #bracket {
  width: 80vw;
  min-height: 100vh;
  background-color: chartreuse;
  padding-left: 25px;
  display: flex;
} */

/* .top-team {
  top: -25px;
} */

/* .top-team-end {
  top: -25px;
  animation-name: top-team-move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
} */
/* 
.losing-team {
  background-color: rgba(255, 0, 0, 0.4);
} */

/* .round1 .winning-team-top {
  animation-name: top-team-win-1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
} */

/* .round2 .winning-team-top {
  animation-name: top-team-win-2;
  animation-duration: 3s;
  animation-fill-mode: forwards;
} */

/* .round3 .winning-team-top {
  animation-name: top-team-win-3;
  animation-duration: 3s;
  animation-fill-mode: forwards;
} */

/* .round4 .winning-team-top {
  animation-name: top-team-win-4;
  animation-duration: 3s;
  animation-fill-mode: forwards;
} */

/* @keyframes top-team-win-1 {
  from {
    right: -25px;
    top: -25px;
  }

  to {
    right: -25px;
    top: 75px;
  }
} */

/* @keyframes top-team-win-2 {
  from {
    right: -25px;
    top: -25px;
  }

  to {
    right: -25px;
    top: 125px;
  }
} */

/* @keyframes top-team-win-3 {
  from {
    right: -25px;
    top: -25px;
  }

  to {
    right: -25px;
    top: 275px;
  }
} */

/* @keyframes top-team-win-4 {
  from {
    right: -25px;
    top: -25px;
  }

  to {
    right: -25px;
    top: 575px;
  }
} */

/* @keyframes top-team-move {
  from {
    right: 175px;
  }

  to {
    right: -25px;
  }
} */

/* .bottom-team {
  bottom: -25px;
} */

/* .bottom-team-end {
  bottom: -25px;
  animation-name: bottom-team-move;
  animation-duration: 3s;
  animation-fill-mode: forwards;
} */

/* .round1 .winning-team-bottom {
  animation-name: bottom-team-win-1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
} */

/* .round2 .winning-team-bottom {
  animation-name: bottom-team-win-2;
  animation-duration: 3s;
  animation-fill-mode: forwards;
} */

/* .round3 .winning-team-bottom {
  animation-name: bottom-team-win-3;
  animation-duration: 3s;
  animation-fill-mode: forwards;
} */

/* .round4 .winning-team-bottom {
  animation-name: bottom-team-win-4;
  animation-duration: 3s;
  animation-fill-mode: forwards;
} */

/* @keyframes bottom-team-win-1 {
  from {
    right: -25px;
    bottom: -25px;
  }

  to {
    right: -25px;
    bottom: 75px;
  }
} */

/* @keyframes bottom-team-win-2 {
  from {
    right: -25px;
    bottom: -25px;
  }

  to {
    right: -25px;
    bottom: 125px;
  }
} */

/* @keyframes bottom-team-win-3 {
  from {
    right: -25px;
    bottom: -25px;
  }

  to {
    right: -25px;
    bottom: 275px;
  }
} */

/* @keyframes bottom-team-win-4 {
  from {
    right: -25px;
    bottom: -25px;
  }

  to {
    right: -25px;
    bottom: 575px;
  }
} */

/* @keyframes bottom-team-move {
  from {
    right: 175px;
  }

  to {
    right: -25px;
  }
} */

/* .match {
  width: 200px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
} */

/* .App {
  height: 100%;
  width: 100%;
} */

body {
  height: 100%;
  width: 100%;
}

/* .round1 {
  height: 200px;
  margin-top: 50px;
  margin-bottom: 100px;
} */

/* .round2 {
  height: 300px;
  margin-top: 150px;
  margin-bottom: 300px;
} */

/* .round3 {
  height: 600px;
  margin-top: 300px;
  margin-bottom: 600px;
} */

/* .round4 {
  height: 1200px;
  margin-top: 600px;
} */

.team-label {
  margin-top: 40px;
}

.team-input {
  margin-top: 40px;
}

.modal-team1 {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: aqua;
  z-index: 1;
  position: absolute;
  overflow: auto;
  left: -40px;
  top: -40px;
  border: 4px solid grey;
}

.modal-team2 {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: aqua;
  z-index: 1;
  position: absolute;
  overflow: auto;
  right: -40px;
  bottom: -40px;
  border: 4px solid grey;
}

.modal-winner {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background-color: aqua;
  z-index: 1;
  position: absolute;
  overflow: auto;
  border: 4px solid grey;
  top: 5px;
  background-image: url(confetti.gif);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-winner-teamName {
  top: 25px;
  position: relative;
}

.winner-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiDialog-paper {
  margin: 32px;
  position: relative;
  overflow-y: visible !important;
}

.spacing {
  width: 10px;
}
