/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


#tree-container {
  width: 60%;
  height: 100%;
  background-color: aquamarine;
  position: absolute;
}

.match-container {
  width: 50%;
  height: 90%;
  background-color: blue;
  position: absolute;
  margin-top: 5%;
  margin-bottom: 5%;
}

.round1 {
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  width: 60%;
  height: 70%;
  margin-top: 15%;
  margin-bottom: 15%;
}

.team {
  width: 5%;
  height: 5%;
  margin-top: 12%;
  border-radius: 70%;
  background-color: rgb(245, 8, 8);
  position: absolute;
  animation-name: team1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  
}

@keyframes team1 {
  from {
    left: 0%;
    top: 0%;
  }
  50% {
    top: 0%;
    left: 58%;
  }
  
  to {
    top: 40%;
    left: 58%;
  }
}


/* .horizontal {
  width: 40%;
  height: 1%;
  margin-top: 50%;
  margin-left: 60%;
  position: relative;
  background-color: black;
} */

/* .top-container {
  height: 40%;
  width: 90%;
  margin-top: 10%;
  background-color: crimson;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.bottom-container {
    height: 40%;
    width: 90%;
    margin-bottom: 5%;
    background-color: crimson;
    display: flex;
    flex-direction: row;
}

.horizontal-top {
  height: 2%;
  width: 60%;
  margin-top: 10%;
  background-color: black;
  position: absolute;
}

.horizontal-bottom {
  height: 2%;
  width: 60%;
  margin-top: 50%;
  background-color: black;
  position: absolute;
}

.vertical-top {
  position: absolute;
  background-color: black;
  width: 3%;
  height: 34%;
  margin-top: 10%;
  margin-left: 57%;
}

.vertical-bottom {
  position: absolute;
  background-color: black;
  width: 3%;
  height: 32%;
  margin-left: 57%;
} */
